:root {
    --doc-height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $main-font;
    font-weight: $font-normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: $text-col;
    background-image: linear-gradient(
        to bottom,
        $back-col,
        #eadfe6,
        #fde1e2,
        #ffe6d4,
        #fff1c9
    );
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* fallback for Js load */
    min-height: var(--doc-height);
    max-width: 1320px;
    margin: 0 auto;
    padding: 2rem;
}

main {
    flex-grow: 1;
}
