.app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    font-size: 1.4rem;
    .brand {
        height: 2.2rem;
        margin-right: 0.25rem;
    }
}
