.app-form {
    max-width: 600px;
    margin: 0 auto 3rem;
    padding: 2rem;
    br {
        display: none;
    }
    .note-title,
    .note-text {
        width: 100%;
        min-height: 50px;
        line-height: 50px;
        padding: 0 1rem;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $gray;
        outline: none;
        transition: border 0.3s;
        &:hover,
        &:focus {
            border-color: rgba($black, 0.75);
        }
    }
    .wrap-note-text {
        position: relative;
        .note-text {
            text-align: left;
            &:not(:empty) + label {
                display: none;
            }
        }
        label {
            position: absolute;
            left: 0;
            top: 1.5rem;
            left: 1rem;
        }
    }
    .button,
    .note-title {
        display: none;
    }
    .note-title {
        margin-bottom: 1rem;
    }
    .actions {
        text-align: right;
    }
    .button {
        margin-top: 2rem;
        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    // ON FORM VISIBLE
    &.active {
        background: $white;
        border-radius: 3px;
        box-shadow: 0 15px 10px -10px rgba($black, 0.1);
        .note-text {
            padding-top: 1rem;
            padding-bottom: 2rem;
            line-height: 3rem;
        }
        .button,
        .note-title {
            display: inline-block;
        }
    }
}
