.modal {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba($black, 0.5);
    display: none;
    &.active {
        display: flex;
    }
    .modal-content {
        width: 600px;
        max-width: 100%;
        padding: 2rem;
        background: $white;
        box-shadow: 0 15px 10px -10px rgba($black, 0.1);
    }
    .modal-title,
    .modal-text {
        width: 100%;
        min-height: 50px;
        line-height: 50px;
        padding: 0 1rem;
        background: transparent;
        border: 0;
        border-bottom: 1px solid $gray;
        outline: none;
        transition: border 0.3s;
        &:hover,
        &:focus {
            border-color: rgba($black, 0.75);
        }
    }
    .wrap-modal-text {
        position: relative;
        .modal-text {
            text-align: left;
            padding-top: 1rem;
            padding-bottom: 2rem;
            line-height: 3rem;
            &:not(:empty) + label {
                display: none;
            }
        }
        label {
            position: absolute;
            left: 0;
            top: 1.5rem;
            left: 1rem;
        }
    }
    .actions {
        text-align: right;
    }
    .button {
        margin-top: 1rem;
    }
}
